certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
coverage==7.8.2
idna==3.10
iniconfig==2.1.0
joblib==1.5.1
nltk==3.9.1
numpy==2.2.6
packaging==25.0
pandas==2.2.3
pluggy==1.6.0
praw==7.8.1
prawcore==2.4.0
pytest==8.3.5
pytest-cov==6.1.1
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
requests==2.32.3
six==1.17.0
tqdm==4.67.1
tzdata==2025.2
update-checker==0.18.0
urllib3==2.4.0
websocket-client==1.8.0
